extends layout

block content
  div(class="row")
    div(class="col-md-6 col-md-offset-3")      
      div(class="jumbotron text-center")
        h3 
          a(href="/teams/#{team._id}") #{team.teamCity} #{team.teamName}
        p Coach:
          span
            a(href="/coaches/#{team.coachId}")= team.teamCoach
  div(class="row")
    div(class="col-md-6 col-md-offset-3")
      div(class="jumbotron text-center")
        h2 Edit #{athlete.firstName} #{athlete.lastName}'s Profile
        if errors
          
          div(class="alert alert-danger col-md-8 col-md-offset-2 text-left" role="alert")
            h4= errorMsg
              each error in errors
                span(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true")
                  span= error
        form(action="/athlete-edit" method="post")
          p
            label(for="firstName") Edit First Name
              input(type="text" id="firstName" name="firstName" value="#{athlete.firstName}")
          p
            label(for="lastName") Edit Last Name
              input(type="text" id="lastName" name="lastName" value="#{athlete.lastName}")
          p
          div(class="row")
            h4 Edit Player Number
            p #{athlete.lastName}'s Current Number is #{athlete.number}.
            div(class="col-md-offset-4 col-md-2")
              select(multiple class='form-control' name="numberIndexZero" selected="9")
                option 0
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
                option 9
            div(class="col-md-2")
              select(multiple class='form-control' name="numberIndexOne")
                option 0
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
                option 9
          div(class="row")
            h3 Edit Height
            p #{athlete.lastName}'s ccurrent height is #{athlete.height}.
            div(class="col-md-offset-4 col-md-2")
              select(multiple class='form-control' name="feet")
                option 5'
                option 6'
                option 7'
            div(class="col-md-2")
              select(multiple class='form-control' name="inches")
                option 0"
                option 1"
                option 2"
                option 3"
                option 4"
                option 5"
                option 6"
                option 7"
                option 8"
                option 9"
                option 10"
                option 11"
          div(class="row")
            h3 Weight
            p #{athlete.lastName}'s current weight is #{athlete.Weight}.
            div(class="col-md-offset-3 col-md-2")
              select(multiple class='form-control' name="weightOne")
                option 1
                option 2
                option 3
            div(class="col-md-2")
              select(multiple class='form-control' name="weightTwo")
                option 0
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
                option 9
            div(class="col-md-2")
              select(multiple class='form-control' name="weightThree")
                option 0
                option 1
                option 2
                option 3
                option 4
                option 5
                option 6
                option 7
                option 8
                option 9
          div(class="row")
            h3 Position
            p #{athlete.lastName} is currently listed as a #{athlete.position}.
            div(class="col-md-offset-3 col-md-6")
              select(multiple class='form-control' name="position")
                option Point Guard
                option Shooting Guard
                option Power Forward
                option Small Forward
                option Center
          div(class="row")
            div(class="col-md-offset-3 col-md-6")
              input(type="hidden" name="athleteId" value="#{athlete._id}")
              input(type="hidden" name="teamId" value="#{athlete.teamId}")
              input(type="hidden" name="teamName" value="#{athlete.teamName}")
              h4 Must Select Team ID Below
              select(multiple class="form-control" name="teamId")
                //- option(selected)= team._id
          div(class="row")
            button(type="submit" value="submit") Edit #{athlete.firstName} #{athlete.lastName}'s profile
        form(action="/athletes/delete/#{team._id}" method="post")
          p
          input(type="submit" value="DELET #{athlete.firstName} #{athlete.lastName}'s Profile'")
