extends layout

block content
  div(class="row")
    div(class="col-md-6 col-md-offset-3")
      div(class="jumbotron text-center")
        p Edit 
          span   
          span= team.teamName
          form(action="/edit-team" method="post")
            p
              label(for="teamCity") Edit Team City
                input(type="text" id="teamCity" name="teamCity" placeholder="#{team.teamCity}")
            p
              label(for="teamName") Edit Team Name
                input(type="text" id="teamName" name="teamName" placeholder="#{team.teamName}")
            p
              label(for="coach") Coach Name
                input(type='text' id="coach" name="coachName" placeholder="#{team.teamCoach}")
            p
              select(name="teamId")
                option= team._id
            button(type="submit" value="submit") Edit Team
          form(action="/teams/#{athlete._id}/delete" method="post")
            p
            input(type="submit" value="DELETE TEAM!")
